a {
    text-decoration: none;
    color: #D8D8D8;
}
a:hover {
    color:#fff;
}
body {
    margin: 0px;
    padding: 0px;
    background-color: #424242;
    color:#F2F2F2;
}
header {
    height: 100px;
    align-content: center;
    background-color: #2E2E2E;
    margin: 0px;
    padding: 0px;
    
}
footer {
    background-color: #2E2E2E;
    height: 50px;
}
.main_menu {
    max-width: 960px;
    background-color: #2E2E2E;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}
.main_menu li {
    float: left;
    margin-left: 20px;
}
.logo_title {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.content {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2E2E2E;
}
.content img {
    width: 50%;
}
header img {
    border-radius:999px;
    width:100px;
    float: left;
    margin-left: auto;
    margin-right: auto;
}
header h2 {
    color : #fff;
}
header li {
    list-style-type: none;
    float: left;
    margin-left: 20px;
}
footer li {
    list-style-type: none;
    float: left;
    margin-left: 20px;
}
footer b {
    float: right;
}
table.FirstTable{
    max-width: 40%;
}

td{
    width:50%;
    text-align: center;
}

th{
    background: #120A2A;
}

th, td {
    border: 1px solid #fff;
}

tr.table1{
    font-weight: normal;
    color: #D8D8D8;
    padding: 5px;
}
tr.table2{
    color: #F2F2F2;
    padding: 5px;
    background: #120A2A;
}
